@import '../../scss/variables.scss';

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 15rem;
    background: $color-wine;
    border-radius: 50%;
    position: relative;
    transition: all 1.5s;

    img {
        width: 70%;
        height: 70%;
        opacity: .7;
        // animation: Logo-hide 10s forwards;
    }

    &__message {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-wine;
        position: absolute;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        opacity: 0;
        // animation: Logo-show-message 10s forwards;
        color: $color-baby-powder;
        font-size: 1.6rem;
        font-weight: 300;
        transition: all 1.5s;

        &:hover {
            background: $color-smoky-topaz;
        }
    }

    &:hover {
        background: $color-smoky-topaz;
        box-shadow: 0.2rem 0.8rem 1.5rem rgba(0, 0, 0, 0.35);
    }
}

.Logo-capybara-hide {
    animation: Logo-hide 10s forwards;
}

.Logo-text-show {
    animation: Logo-show-message 10s forwards;
}

@keyframes Logo-hide {
  0% {
    opacity: 1;
  }

  5% {
    filter: blur(10px);
  }

  10%,
  90% {
    opacity: 0;
    filter: blur(20px);
    transform: rotate(-360deg);
  }

  95%{
    filter: blur(10px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes Logo-show-message {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  5% {
    filter: blur(10px);
  }

  9% {
    filter: blur(0px);
  }

  10%,
  90% {
    opacity: 1;
    transform: rotate(360deg);
  }

  91% {
    filter: blur(0px);
  }

  95%{
    filter: blur(10px);
  }

  100% {
    opacity: 0;
    filter: blur(20px);
  }
}