@import '../../scss/variables.scss';

.Logo {
    position: relative;

    img {
        height: 10rem;
        width: auto;
    }

    &__error-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-baby-powder;
        width: 17rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: 200;
        transition: all .3s;
        color: $color-arsenic;
        
        &-hide {
            opacity: 0;
        }

        &-show {
            opacity: 1;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 1.6rem;
            height: 1.6rem;
            // background: red;
            border: transparent solid .8rem;
            border-left: solid .8rem $color-baby-powder;
            border-top: solid .8rem $color-baby-powder;
            top: -0.8rem;
            left: 3rem;
            transform: rotate(45deg);
        }
    }
}