@import '../../scss/variables.scss';

$animation-time: 0.3s;

.Auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    form {
        position: relative;
    }

    &__input {
        position: relative;
        color: $color-baby-powder;
        font-weight: 200;
        text-transform: uppercase;

        input {
            font-size: 1.8rem;
            font-weight: 200;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            color: $color-baby-powder;
            padding: 1rem;
            display: block;
            background: $color-arsenic;
            width: 25rem;
            border: none;
            border-bottom: 1px solid $color-baby-powder;
            margin-top: 2rem;
            outline: none;
            
            &:focus {
                outline: none;
            }

            &:focus ~ label {
                top: -1rem;
                font-size: 1.2rem;
            }

            &:focus ~ .Auth__bar:before {
                width: 50%;
            }

            &:focus ~ .Auth__bar:after {
                width: 50%;
            }
        }

        label {
            font-size: 1.8rem;
            position: absolute;
            pointer-events: none;
            left: 1rem;
            top: 1.3rem;
            transition: $animation-time ease all;
            -moz-transition: $animation-time ease all;
            -webkit-transition: $animation-time ease all;
        }
    }

    &__bar {
        position: relative;
        display: block;
        width: 25rem;

        &:before, 
        &:after {
            content: '';
            height: 1px;
            width: 0;
            bottom: 0;
            position: absolute;
            background: $color-smoky-topaz;
            transition: $animation-time ease all;
            -moz-transition: $animation-time ease all;
            -webkit-transition: $animation-time ease all;
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }
    }

    button {
        display: block;
        background: transparent;
        width: 25rem;
        height: 4.5rem;
        margin-top: 2rem;
        border: 1px solid $color-baby-powder;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 200;
        user-select: none;
        outline: none;
        cursor: pointer;
        color: $color-baby-powder;
        position: relative;
        z-index: 1;
        transition: $animation-time ease all;
        -moz-transition: $animation-time ease all;
        -webkit-transition: $animation-time ease all;

        &:hover ~ .Auth__btn-bg {
            width: 25rem;
        }

        &:hover {
            border: 1px solid $color-smoky-topaz;
        }
    }

    &__btn-bg {
        width: 0rem;
        height: 4.5rem;
        background: $color-smoky-topaz;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        transition: $animation-time ease all;
        -moz-transition: $animation-time ease all;
        -webkit-transition: $animation-time ease all;
    }
}
